---
---

/* main color is shades of grayish gunmetal blue*/
$color-primary-0: #29526D;	// mid blue */
$color-primary-1: #83A4B9;	// very light blue */
$color-primary-2: #4D758E;	// light blue */
$color-primary-3: #0F344B;	// dark blue */
$color-primary-4: #021A29;	// almost black blue */

/*secondary color is shades of lavender and purple */
$color-secondary-0: #333676;	// dark purple */
$color-secondary-1: #9092C4;	// very light lavender */
$color-secondary-2: #5A5D9B;	// mid purple */
$color-secondary-3: #161951;	// very dark purple */
$color-secondary-4: #06082D;	// almost black purple */

/* complement color is shades of yellow and ochre */
$color-complement-0: #AA8C39;	// gold */
$color-complement-1: #FFEAB0;	// peach, almost white yellow */
$color-complement-2: #DFC272;	// light ochre yellow */
$color-complement-3: #755B12;	// raw umber, yellow ochre tan */
$color-complement-4: #413000;	// cola, yellowish brown */

body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 1;
    padding: 21px 0 30px 0;
    background-color: $color-secondary-3;
    background-image: 
    radial-gradient(circle at 100% 150%, $color-secondary-3 24%, $color-secondary-4 25%, $color-secondary-4 28%, $color-secondary-3 29%, $color-secondary-3 36%, $color-secondary-4 36%, $color-secondary-4 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $color-secondary-3 24%, $color-secondary-4 25%, $color-secondary-4 28%, $color-secondary-3 29%, $color-secondary-3 36%, $color-secondary-4 36%, $color-secondary-4 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $color-secondary-4 10%, $color-secondary-3 11%, $color-secondary-3 23%, $color-secondary-4 24%, $color-secondary-4 30%, $color-secondary-3 31%, $color-secondary-3 43%, $color-secondary-4 44%, $color-secondary-4 50%, $color-secondary-3 51%, $color-secondary-3 63%, $color-secondary-4 64%, $color-secondary-4 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $color-secondary-4 5%, $color-secondary-3 6%, $color-secondary-3 15%, $color-secondary-4 16%, $color-secondary-4 20%, $color-secondary-3 21%, $color-secondary-3 30%, $color-secondary-4 31%, $color-secondary-4 35%, $color-secondary-3 36%, $color-secondary-3 45%, $color-secondary-4 46%, $color-secondary-4 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $color-secondary-4 5%, $color-secondary-3 6%, $color-secondary-3 15%, $color-secondary-4 16%, $color-secondary-4 20%, $color-secondary-3 21%, $color-secondary-3 30%, $color-secondary-4 31%, $color-secondary-4 35%, $color-secondary-3 36%, $color-secondary-3 45%, $color-secondary-4 46%, $color-secondary-4 49%, transparent 50%, transparent);
    background-size:100px 50px;
}
.main {
	text-align: left;
	padding: 1px 0 60px 0;
}
.header {
	height: 201px;
	position: relative;
	background: url(images/magic-meeple-logo.png) no-repeat 600px 90px;
	background-color: $color-secondary-1;
}
.container {
	width: 1174px;
	margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 6px 13px 0 13px;
}
.header, .container, .footer{
	position: relative;
	clear: both;
	margin: 77px 0 0 0;
	padding: 1px 0 0 0;
	background-color: $color-primary-1;
}
/* Navigation */
div.menu-header ul,
div.menu ul {
	list-style: none;
	display:inline-block;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}

/* Progress Bars */
.progressbar {
    display: flex;
    background-color: $color-primary-2;
    padding: 1rem;
    clear: both;
    height: 6rem;
    margin: 1rem;
    border-radius: 0.5rem;
}
.progressbar > div {
    height: 5rem;
    float: left;
    margin: 0.5rem;
}
.inline-logo {
    width: 12rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.whole-meter {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: grey;
    border-radius: 2rem;
    padding: 0.5rem;
}
.whole-meter > span {
    display: block;
    border-radius: 1rem;
    position: absolute;
}
.status-message {
    z-index: 100;
    height: 1rem;
    padding-left: 1rem;
}
.meter-bar {
    background-color: #98eab6;
    overflow: hidden;
    height: 2rem;
}
.project-status {
    flex-grow: 1;
}
