---
---

/* main color is shades of grayish gunmetal blue*/
$primary-mid: #29526D;	// mid blue */
$primary-very-light: #83A4B9;	// very light blue */
$primary-light: #4D758E;	// light blue */
$primary-dark: #0F344B;	// dark blue */
$primary-very-dark: #021A29;	// almost black blue */

/* secondary color is shades of lavender and purple */
$secondary-mid: #333676;	// dark purple */
$secondary-very-light: #9092C4;	// very light lavender */
$secondary-light: #5A5D9B;	// mid purple */
$secondary-dark: #161951;	// very dark purple */
$secondary-very-dark: #06082D;	// almost black purple */

/* complement color is shades of yellow and ochre */
$complement-mid: #AA8C39;	// gold */
$complement-very-light: #FFEAB0;	// peach, almost white yellow */
$complement-light: #DFC272;	// light ochre yellow */
$complement-dark: #755B12;	// raw umber, yellow ochre tan */
$complement-very-dark: #413000;	// cola, yellowish brown */

body {
    font-family: "Tahoma", sans-serif;
    text-decoration: none;
    line-height: 1;
    padding: 1rem;
    background-color: $secondary-dark;
    background-image: 
    radial-gradient(circle at 100% 150%, $secondary-dark 24%, $secondary-very-dark 25%, $secondary-very-dark 28%, $secondary-dark 29%, $secondary-dark 36%, $secondary-very-dark 36%, $secondary-very-dark 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $secondary-dark 24%, $secondary-very-dark 25%, $secondary-very-dark 28%, $secondary-dark 29%, $secondary-dark 36%, $secondary-very-dark 36%, $secondary-very-dark 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $secondary-very-dark 10%, $secondary-dark 11%, $secondary-dark 23%, $secondary-very-dark 24%, $secondary-very-dark 30%, $secondary-dark 31%, $secondary-dark 43%, $secondary-very-dark 44%, $secondary-very-dark 50%, $secondary-dark 51%, $secondary-dark 63%, $secondary-very-dark 64%, $secondary-very-dark 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $secondary-very-dark 5%, $secondary-dark 6%, $secondary-dark 15%, $secondary-very-dark 16%, $secondary-very-dark 20%, $secondary-dark 21%, $secondary-dark 30%, $secondary-very-dark 31%, $secondary-very-dark 35%, $secondary-dark 36%, $secondary-dark 45%, $secondary-very-dark 46%, $secondary-very-dark 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $secondary-very-dark 5%, $secondary-dark 6%, $secondary-dark 15%, $secondary-very-dark 16%, $secondary-very-dark 20%, $secondary-dark 21%, $secondary-dark 30%, $secondary-very-dark 31%, $secondary-very-dark 35%, $secondary-dark 36%, $secondary-dark 45%, $secondary-very-dark 46%, $secondary-very-dark 49%, transparent 50%, transparent);
    background-size: 100px 50px;
}
.main {
	width: 65rem;
	margin: 1rem;
	text-align: left;
}
.header {
	height: 16rem;
	background: url("/assets/images/magic-meeple-games-logo.png") no-repeat 14rem;
	background-position: 1rem 1rem;
}
.container {
	width: 80%;
	border-right: 12rem solid $primary-light;
}
.header, .main, .footer{
	position: relative;
	clear: both;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: $primary-very-light;
	width: 65rem;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Navigation */
.header ul {
	list-style: none;
	position: absolute;
	bottom: 0;
	right: 0;
}
.header li,
div.menu li {
    font-size: large;
    font-weight: bold;
    float: left;
    background-color: $primary-light;
    padding: 1rem;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
}

/* Progress Bars */
.progressbar {
    display: flex;
    background-color: $complement-mid;
    padding: 0.5rem;
    clear: both;
    margin: 1rem;
    border-radius: 0.5rem;
    border-color: $complement-dark;
}
.progressbar > div {
    float: left;
    margin: 0.5rem;
}
.inline-logo {
    width: 12rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.whole-meter {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: $complement-dark;
    border-radius: 2rem;
    padding: 0.5rem;
}
.whole-meter > span {
    display: block;
    position: absolute;
}
.status-message {
    z-index: 100;
    height: 1rem;
    padding-left: 1rem;
}
.meter-bar {
    background-color: $complement-light;
    overflow: hidden;
    height: 2rem;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-image: linear-gradient(
        center bottom,
        $complement-very-light 37%,
        $complement-light 69%
    );
    box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
}
.project-status {
    flex-grow: 1;
}
