---
---

body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    line-height: 1;
    padding: 21px 0 30px 0;
    background: #f1f1f1 url(images/body.jpg);
    background-color: #f1f1f1;
    background-image: 
    radial-gradient(circle at 100% 150%, silver 24%, #f1f1f1 25%, #f1f1f1 28%, silver 29%, silver 36%, #f1f1f1 36%, #f1f1f1 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, #f1f1f1 25%, #f1f1f1 28%, silver 29%, silver 36%, #f1f1f1 36%, #f1f1f1 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, #f1f1f1 10%, silver 11%, silver 23%, #f1f1f1 24%, #f1f1f1 30%, silver 31%, silver 43%, #f1f1f1 44%, #f1f1f1 50%, silver 51%, silver 63%, #f1f1f1 64%, #f1f1f1 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #f1f1f1 5%, silver 6%, silver 15%, #f1f1f1 16%, #f1f1f1 20%, silver 21%, silver 30%, #f1f1f1 31%, #f1f1f1 35%, silver 36%, silver 45%, #f1f1f1 46%, #f1f1f1 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, #f1f1f1 5%, silver 6%, silver 15%, #f1f1f1 16%, #f1f1f1 20%, silver 21%, silver 30%, #f1f1f1 31%, #f1f1f1 35%, silver 36%, silver 45%, #f1f1f1 46%, #f1f1f1 49%, transparent 50%, transparent);
    background-size:100px 50px;
}
.main {
	text-align: left;
	padding: 1px 0 60px 0;
}
.header {
	height: 201px;
	position: relative;
	background: url(images/main-header.png) no-repeat 600px 90px;
}
.wrapper {
	width: 1174px;
	margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 6px 13px 0 13px;
	background: #ffffff;
}
#footer {
	height: 79px;
	position: relative;
	clear: both;
	margin: 77px 0 0 0;
	padding: 1px 0 0 0;
}
/* Navigation */
div.menu-header ul,
div.menu ul {
	list-style: none;
	display:inline-block;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}

/* Progress Bars */
.progressbar {
    display: flex;
    background-color: skyblue;
    padding: 1rem;
    clear: both;
    height: 6rem;
    margin: 1rem;
    border-radius: 0.5rem;
}
.progressbar > div {
    height: 5rem;
    float: left;
    margin: 0.5rem;
}
.inline-logo {
    width: 12rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.whole-meter {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: grey;
    border-radius: 2rem;
    padding: 0.5rem;
}
.whole-meter > span {
    display: block;
    border-radius: 1rem;
    position: absolute;
}
.status-message {
    z-index: 100;
    height: 1rem;
    padding-left: 1rem;
}
.meter-bar {
    background-color: #98eab6;
    overflow: hidden;
    height: 2rem;
}
.project-status {
    flex-grow: 1;
}
