<!DOCTYPE HTML>
<html>
<head>
  <title>Magic Meeple Games, Inc</title>
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="header">
  <ul>
    {% assign mypages = site.pages | sort: "order" %}
    {% for nav in mypages %}
    {% if nav.category == "pages" and nav.title != page.title %}
    <li><a href="{{ nav.url | absolute_url }}">{{ nav.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="main">
<div class="container">
{{ content }}
</div>
</div>
<div class="footer">
<p>&reg; Copyright 2015-{{ site.time | date: '%y' }} Magic Meeple Games, LLC. All Rights Reserved</p>
<p>Privacy Policy: Magic Meeple Games does not knowingly collect information from its visitors without their permission or knowledge.</p>
<p>The personal information you supply, if any, will not be given away or sold under any circumstances.</p>
</div>
</body>
</html>
