<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<div class="header">
  <ul>
    {% assign mypages = site.pages | sort: "order" %}
    {% for page in mypages %}
    <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="main">
<div class="container">
{{ page.content }}
</div>
</div>
<div class="footer">
<p>&reg; Copyright 2015-{{ site.time | date: '%y' }} Magic Meeple Games, LLC. All Rights Reserved</p>
<p>Privacy Policy: Magic Meeple Games does not knowingly collect information from its visitors without their permission or knowledge.</p>
<p>The personal information you supply, if any, will not be given away or sold under any circumstances.</p>
</div>
</body>
</html>
